@font-face {
  font-family: "Cuprum";
  src: url("../fonts/Cuprum/Cuprum-Regular.ttf") format("truetype"), url("../fonts/Cuprum/Cuprum-Regular.woff") format("woff"), url("../fonts/Cuprum/Cuprum-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/Cuprum/Cuprum-Italic.ttf") format("truetype"), url("../fonts/Cuprum/Cuprum-Italic.woff") format("woff"), url("../fonts/Cuprum/Cuprum-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/Cuprum/Cuprum-Bold.ttf") format("truetype"), url("../fonts/Cuprum/Cuprum-Bold.woff") format("woff"), url("../fonts/Cuprum/Cuprum-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/Cuprum/Cuprum-BoldItalic.ttf") format("truetype"), url("../fonts/Cuprum/Cuprum-BoldItalic.woff") format("woff"), url("../fonts/Cuprum/Cuprum-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic; }

.page {
  width: 100%;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  color: #000;
  background-color: rgba(62, 83, 56, 0.25); }

.page__wrapper {
  max-width: 1140px;
  width: 95%;
  margin: 0 auto;
  padding: 0; }

.page__container {
  display: flex; }

@media (max-width: 767px) {
  .page__wrapper {
    width: 100%; } }

.page-header {
  width: 100%;
  min-height: 65px;
  background-color: #354d38;
  background-image: url("../img/background/camo.png");
  background-position: center;
  z-index: 1; }

.page-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px; }

.page-header__link {
  line-height: 0;
  width: 170px; }

.page-header__logo {
  margin: 0;
  padding: 0; }

.main-nav {
  position: relative;
  min-width: 60%; }

@keyframes nav-list-open {
  0% {
    transform: translateX(400px); }
  100% {
    transform: translateX(0); } }

@keyframes nav-list-close {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(400px); } }

.main-nav__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none; }

.main-nav__list_no-mobile:hover .main-nav__list_sub-menu {
  display: flex;
  flex-direction: column; }

.main-nav__list_mobile {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  width: 350px;
  height: 100vh;
  background-color: #344c37;
  z-index: 3; }

.main-nav__list_mobile-open {
  animation: nav-list-open 0.8s normal; }

.main-nav__list_mobile-close {
  animation: nav-list-close 0.4s normal; }

@keyframes nav-item-hover {
  0% {
    border: none;
    opacity: 0; }
  25% {
    border-left: 1px solid #ffffff;
    opacity: 0.25; }
  50% {
    border-top: 1px solid #ffffff;
    opacity: 0.5; }
  75% {
    border-right: 1px solid #ffffff;
    opacity: 0.75; }
  100% {
    border-bottom: 1px solid #ffffff;
    opacity: 1; } }

.main-nav__item {
  position: relative;
  margin-bottom: 10px; }
  .main-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: transparent; }
  .main-nav__item:hover::before {
    border: 1px solid #ffffff;
    animation: nav-item-hover 1.2s normal; }
  .main-nav__item_active {
    color: #ddbb44; }
  .main-nav__item_active::before {
    border: 1px solid; }
  .main-nav__item_active:hover::before {
    animation: none; }
  .main-nav__item_active > .main-nav__link {
    color: #ddbb44; }

.main-nav__item-wrapper {
  display: flex;
  align-items: center; }

.main-nav__button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent; }

.main-nav__button_dropdown {
  display: none;
  width: 17px;
  height: 17px;
  margin-left: 5px;
  background-image: url("../img/icons/svg/right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

.main-nav__button_dropdown-open {
  background-image: url("../img/icons/svg/down-arrow.svg"); }

.main-nav__link {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff; }
  .main-nav__link:hover {
    color: #ddbb44; }

.main-nav__list_sub-menu {
  display: none;
  justify-content: flex-start;
  position: absolute;
  width: 250px;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  background-color: #354d38;
  list-style: none;
  z-index: 2; }

.main-nav__list_sub-menu-open {
  display: flex;
  width: 100%;
  position: static; }

.main-nav__item_sub-menu {
  padding-left: 10px; }
  .main-nav__item_sub-menu::before {
    content: "";
    position: absolute;
    top: auto;
    bottom: 0;
    height: 2px;
    width: 0;
    border: none;
    background-color: #ffffff;
    opacity: 0;
    transition: all 0.3s; }
  .main-nav__item_sub-menu:hover::before {
    width: 95%;
    animation: none;
    opacity: 1; }

.main-nav__link_sub-menu {
  justify-content: flex-start;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px; }

.main-nav__toggle {
  position: relative;
  display: none;
  align-items: center;
  justify-content: space-around;
  width: 35px;
  height: 35px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border: none; }

@keyframes sandvitch-top-on {
  0% {
    transform: translateY(-10px); }
  50% {
    transform: translateY(0); }
  100% {
    transform: rotate(45deg); } }

@keyframes sandvitch-top-off {
  0% {
    transform: rotate(-45deg); }
  50% {
    transform: translateY(0); }
  100% {
    transform: translateY(-10px); } }

@keyframes sandvitch-bottom-on {
  0% {
    transform: translateY(10px); }
  50% {
    transform: translateY(0); }
  100% {
    transform: rotate(-45deg); } }

@keyframes sandvitch-bottom-off {
  0% {
    transform: rotate(45deg); }
  50% {
    transform: translateY(0); }
  100% {
    transform: translateY(10px); } }

.main-nav__sandvitch {
  height: 4px;
  width: 100%;
  background-color: #ffffff; }
  .main-nav__sandvitch::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    transform: translateY(-10px); }
  .main-nav__sandvitch::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    transform: translateY(10px); }

.main-nav__sandvitch_on {
  background-color: transparent; }
  .main-nav__sandvitch_on::before {
    transform: translateY(0) rotate(45deg);
    animation: sandvitch-top-on 0.8s normal; }
  .main-nav__sandvitch_on::after {
    transform: translateY(0) rotate(-45deg);
    animation: sandvitch-bottom-on 0.8s normal; }

.main-nav__sandvitch_off::before {
  animation: sandvitch-top-off 0.5s normal; }

.main-nav__sandvitch_off::after {
  animation: sandvitch-bottom-off 0.5s normal; }

@media (max-width: 767px) {
  .page-header {
    position: fixed;
    z-index: 3; }
  .page-header__wrapper {
    padding-right: 0; }
  .main-nav__list {
    display: none; }
  .main-nav__list_mobile {
    display: block;
    padding: 20px;
    box-shadow: -4px 10px 9px 4px rgba(0, 0, 0, 0.4);
    overflow: scroll; }
  .main-nav__toggle {
    display: flex;
    margin-right: 10px; }
  .main-nav__item::before {
    display: none; }
  .main-nav__item_sub-menu::before {
    display: none; }
  .main-nav__button_dropdown {
    display: block; }
  .main-nav__list_sub-menu-open {
    display: flex;
    width: 100%;
    position: static; }
  .main-nav__link {
    justify-content: flex-start;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 24px; }
    .main-nav__link_sub-menu {
      font-size: 20px; } }

@media (max-width: 575px) {
  .page-header__link {
    width: 150px; } }

.main-slider {
  position: relative; }

.main-slider__title {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin: 0;
  padding: 0;
  padding: 15px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1; }

.main-slider__video {
  width: 100%; }

.bx-wrapper {
  width: 100%;
  height: auto;
  margin-bottom: 0;
  border: none;
  box-shadow: none;
  overflow: hidden; }
  .bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 0;
    outline: 0;
    width: 50px;
    height: 100%;
    margin-top: 0;
    text-indent: -9999px;
    z-index: 2; }
  .bx-wrapper .bx-next {
    right: 0;
    background-image: url(../img/slider/right-arrow.svg);
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: center;
    opacity: 0;
    z-index: 2; }
    .bx-wrapper .bx-next:hover {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.2);
      background-position: center; }
  .bx-wrapper .bx-prev {
    left: 0;
    background-image: url(../img/slider/left-arrow.svg);
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: center;
    opacity: 0;
    z-index: 2; }
    .bx-wrapper .bx-prev:hover {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.2);
      background-position: center; }
  .bx-wrapper .bx-pager.bx-default-pager {
    position: absolute;
    bottom: 25px;
    width: 100%; }
    .bx-wrapper .bx-pager.bx-default-pager .bx-pager-link {
      background-color: rgba(255, 255, 255, 0.5); }
      .bx-wrapper .bx-pager.bx-default-pager .bx-pager-link:hover {
        background-color: #354d38; }
    .bx-wrapper .bx-pager.bx-default-pager .bx-pager-link.active {
      background-color: #354d38; }

.bx-wrapper img {
  width: 100%; }

@media (max-width: 767px) {
  .bx-wrapper .bx-pager.bx-default-pager {
    bottom: 15px; }
    .bx-wrapper .bx-pager.bx-default-pager .bx-pager-link {
      width: 7px;
      height: 7px; } }

.about-contract {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 15px;
  background-image: url("../img/background/camo.png");
  background-position: center; }

.about-contract__container {
  background-image: url("../img/vdv-800_1.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain; }

.about-contract__title {
  max-width: 80%;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 45px;
  text-transform: uppercase; }

.about-contract__subtitle {
  text-transform: uppercase;
  font-weight: 700;
  color: #000000; }

.about-contract__text {
  width: 80%;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 20px; }

@media (max-width: 959px) {
  .about-contract__container {
    background-position: right bottom; }
  .about-contract__title {
    width: 70%; }
  .about-contract__subtitle {
    width: 70%; }
  .about-contract__text {
    width: 70%; } }

@media (max-width: 767px) {
  .about-contract__container {
    background-image: none; }
  .about-contract__title {
    width: 100%; }
  .about-contract__subtitle {
    width: 100%; }
  .about-contract__text {
    width: 100%; } }

@media (max-width: 575px) {
  .about-contract__title {
    font-size: 30px; }
  .about-contract__subtitle {
    font-size: 20px; }
  .about-contract__text {
    font-size: 14px; } }

.advantages {
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 522px;
  overflow: hidden; }

.advantages__wrapper {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px; }

.advantages__group {
  display: flex;
  padding-top: 46px;
  max-width: 94%;
  margin: 0 auto; }

.advantages__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000; }

.advantages__text {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-kerning: none;
  line-height: 24px; }

.advantages-list {
  position: relative;
  margin: 0;
  padding: 0;
  align-self: flex-start;
  list-style: none; }
  .advantages-list::after {
    content: "";
    position: absolute;
    top: calc(50% - 216px);
    right: 0;
    width: 10px;
    height: 408px;
    background-image: url(../img/service-shadow.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }

.advantages-list__button {
  width: 300px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 45px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  text-align-last: left;
  color: #ffffff;
  border: none;
  border-top: 1px solid #3f5842;
  border-bottom: 1px solid #2d412f;
  background-color: #354d38;
  background-repeat: no-repeat;
  background-position: 5px center;
  background-size: 35px;
  cursor: pointer; }
  .advantages-list__button_money {
    background-image: url("../img/icons/svg/wallet.svg"); }
  .advantages-list__button_food {
    background-image: url("../img/icons/svg/food.svg"); }
  .advantages-list__button_vacation {
    background-image: url("../img/icons/svg/plane-tickets.svg"); }
  .advantages-list__button_house {
    background-image: url("../img/icons/svg/house.svg"); }
  .advantages-list__button_uniform {
    background-image: url("../img/icons/svg/uniform.svg"); }
  .advantages-list__button_pharmacy {
    background-image: url("../img/icons/svg/pharmacy.svg"); }
  .advantages-list__button_retirement {
    background-image: url("../img/icons/svg/retirement.svg"); }
  .advantages-list__button_insurance {
    background-image: url("../img/icons/svg/insurance.svg"); }

.advantages-list__button:hover {
  color: #ffffff;
  background-color: #2d412f; }

.advantages-list__button_active {
  border: none;
  color: #354d38;
  background-color: #ffffff; }
  .advantages-list__button_active:hover {
    background-color: #ffffff;
    color: #354d38; }

.advantages-list__button:disabled,
.advantages-list__button_disabled,
.advantages-list__button_disabled:hover,
.advantages-list__button_disabled:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #354d38;
  border: none;
  opacity: 0.3;
  cursor: default; }

.advantages-description {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  padding-left: 45px;
  list-style: none; }

@keyframes description-show {
  from {
    transform: translateX(100px);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 100; } }

.advantages-description__item {
  position: relative;
  height: 100%;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 210px;
  display: none; }

.advantages-description__item_show {
  display: block;
  animation: description-show 1s normal; }

.advantages-description__item_money {
  background-image: url("../img/icons/svg/wallet.svg"); }

.advantages-description__item_food {
  background-image: url("../img/icons/svg/food.svg"); }

.advantages-description__item_vacation {
  background-image: url("../img/icons/svg/plane-tickets.svg"); }

.advantages-description__item_house {
  background-image: url("../img/icons/svg/house.svg"); }

.advantages-description__item_uniform {
  background-image: url("../img/icons/svg/uniform.svg"); }

.advantages-description__item_pharmacy {
  background-image: url("../img/icons/svg/pharmacy.svg"); }

.advantages-description__item_retirement {
  background-image: url("../img/icons/svg/retirement.svg"); }

.advantages-description__item_insurance {
  background-image: url("../img/icons/svg/insurance.svg"); }

.advantages-description__content {
  width: 360px; }

.advantages-description__content-list {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  list-style: none; }

.advantages-description__content-item {
  position: relative;
  margin-bottom: 15px; }
  .advantages-description__content-item::before {
    content: "";
    position: absolute;
    left: -17px;
    top: 9px;
    width: 12px;
    height: 4px;
    background-color: #354d38; }

.advantages-description__title {
  margin: 0;
  margin-top: -2px;
  margin-bottom: 23px;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-transform: uppercase;
  color: #354d38; }

.advantages-description__text {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  font-kerning: none;
  line-height: 24px;
  color: #000000; }

.advantages-description__button {
  display: inline-block;
  margin-top: 15px;
  padding: 14px 44px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  background-color: #354d38; }

.advantages-description__button:hover {
  background-color: #2d412f; }

.advantages-description__button:active {
  background-color: #3f5842; }

.advantages-description__button:disabled,
.advantages-description__button_disabled,
.advantages-description__button_disabled:hover,
.advantages-description__button_disabled:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #858b85;
  border: none;
  opacity: 0.3;
  cursor: default; }

@media (max-width: 1199px) {
  .advantages-description__item {
    background-size: 150px; } }

@media (max-width: 959px) {
  .advantages-list__button {
    width: 45px;
    font-size: 0;
    background-position: center; } }

@media (max-width: 767px) {
  .advantages__group {
    width: 100%;
    margin: 0; }
  .advantages-list__button {
    width: 45px;
    font-size: 0;
    background-position: center; }
  .advantages-description {
    padding-left: 25px; }
  .advantages-description__content {
    width: 100%; }
  .advantages-description__item {
    background-image: none; }
  .advantages-description__title {
    font-size: 24px;
    line-height: 30px; } }

.news {
  padding: 30px 15px;
  background-color: #ffffff;
  background-image: url("../img/background/camo.png");
  background-position: center; }

.news_page {
  min-height: 80vh;
  background-color: #ebebeb;
  background-image: none; }

.news__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 700px; }

.news__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.news__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000; }

.news__post {
  width: 100%;
  margin-bottom: 10px; }

.news__post_block-short {
  width: 520px; }

.post {
  display: flex;
  background-color: #ffffff; }

.post__image {
  width: 210px;
  height: 210px;
  object-fit: cover; }

.post__link {
  font-weight: 700;
  color: #354d38; }
  .post__link:hover {
    text-decoration: underline; }

.post__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px; }

.post__title {
  margin: 0;
  padding: 0;
  font-size: 18px; }

.post__anotation {
  font-size: 14px;
  line-height: 18px;
  color: #000000; }

.post__footer {
  display: flex;
  justify-content: space-between; }

.post__date {
  align-self: flex-end;
  font-size: 12px; }

@media (max-width: 1199px) {
  .news__post_block-short {
    width: 100%; } }

@media (max-width: 959px) {
  .post__image {
    width: 210px;
    height: 210px; } }

@media (max-width: 767px) {
  .post {
    display: flex; }
  .post__image {
    width: 210px;
    height: 210px; } }

@media (max-width: 575px) {
  .post {
    display: block; }
  .post__image {
    width: 100%;
    height: 160px; } }

.contacts {
  padding: 30px 15px;
  background-color: #ffffff;
  background-image: url("../img/background/contacts.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.contacts__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000; }

.contacts__container {
  display: flex;
  justify-content: space-between; }

.contacts__info {
  max-width: 600px; }

.contacts__organisation-name {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-weight: 400; }

.contacts__list {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none; }

.contacts__item {
  display: flex;
  align-items: center;
  margin-left: 15px; }

.contacts__content {
  margin: 0;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px; }

.contacts__icon {
  width: 25px;
  height: 25px; }
  .contacts__icon path {
    fill: #354d38; }

.contacts__link {
  color: #000000; }
  .contacts__link:hover {
    text-decoration: underline; }

.contacts__link_addresss:hover {
  text-decoration: none;
  cursor: default; }

.contacts__timetable-group {
  margin-bottom: 20px; }

.contacts__timetable-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase; }

.contacts__timetable-subtitle {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase; }

.contacts__timetable-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.contacts__timetable-item {
  margin-bottom: 10px;
  margin-left: 15px; }

.contacts__timetable-worktime {
  display: flex;
  align-items: center; }

.contacts__timetable-days {
  width: 50px;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #354d38; }

.contacts__timetable-day {
  margin: 0;
  padding: 0; }

.contacts__timetable-time {
  margin: 0;
  padding: 0; }

.contacts__timetable-time_weekend {
  text-transform: lowercase; }

.contacts__button_details {
  display: inline-block;
  margin-top: 15px;
  padding: 14px 44px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  background-color: #354d38; }
  .contacts__button_details:hover {
    background-color: #2d412f; }
  .contacts__button_details:active {
    background-color: #3f5842; }
  .contacts__button_details:disabled, .contacts__button_details_disabled, .contacts__button_details_disabled:hover, .contacts__button_details_disabled:active {
    color: rgba(255, 255, 255, 0.5);
    background-color: #32425c;
    border: none;
    opacity: 0.3;
    cursor: default; }

.contacts__map-container {
  position: relative; }

.contacts__map-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2; }

.contacts__map-overlay-button {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: transparent;
  cursor: pointer; }
  .contacts__map-overlay-button:hover {
    color: #e7e7e7; }
  .contacts__map-overlay-button:active {
    color: #636363; }

.contacts__map {
  width: 600px;
  height: 300px;
  background-color: silver; }

@media (max-width: 959px) {
  .contacts__container {
    display: block; }
  .contacts__info {
    margin-bottom: 30px; }
  .contacts__map {
    width: 100%; } }

@media (max-width: 767px) {
  .contacts__container {
    display: block; }
  .contacts__info {
    margin-bottom: 30px; }
  .contacts__map-overlay_active {
    display: flex;
    align-items: center;
    justify-content: center; }
  .contacts__map {
    width: 100%; } }

@media (max-width: 575px) {
  .contacts__link_addresss:hover {
    text-decoration: underline;
    cursor: pointer; } }

.main-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #354d38;
  background-image: url("../img/background/camo.png");
  background-position: center; }

.main-footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px; }

.main-footer__logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.main-footer__logo-wrapper {
  display: flex;
  margin-bottom: 10px; }

.main-footer__logo-link {
  min-width: 150px;
  max-width: 170px; }

.main-footer__organisation-name {
  margin: 0;
  margin-left: 10px;
  padding: 0;
  padding-left: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  border-left: 1px solid #ffffff; }

.main-footer__contacts-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.main-footer__contacts-item {
  display: flex;
  align-items: center; }

.main-footer__contacts-content {
  margin: 0;
  padding: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  font-size: 14px;
  color: #ffffff; }

.main-footer__contacts-icon {
  width: 15px;
  height: 15px; }
  .main-footer__contacts-icon path {
    fill: #ffffff; }

.main-footer__contacts-link {
  color: #ddbb44; }
  .main-footer__contacts-link:hover {
    color: #ffffff;
    text-decoration: underline; }

.main-footer__contacts-link_address {
  cursor: default;
  color: #ffffff; }
  .main-footer__contacts-link_address:hover {
    color: #ffffff;
    text-decoration: none; }

.socials {
  display: flex;
  align-items: center;
  min-width: 100px;
  margin: 0;
  padding: 0;
  list-style: none; }

.socials__item {
  margin: 0;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  padding: 0; }

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 10%;
  background-color: #ffffff; }
  .socials__link:hover {
    background-color: #ddbb44; }
  .socials__link:active {
    background-color: #3f5842; }
  .socials__link .socials__vk > path,
  .socials__link .socials__inst > path {
    fill: #354d38; }
  .socials__link:hover .socials__vk > path,
  .socials__link:hover .socials__inst > path {
    fill: #ffffff; }
  .socials__link:active .socials__vk > path,
  .socials__link:active .socials__inst > path {
    fill: rgba(255, 255, 255, 0.475); }

.main-footer__copyright,
.main-footer__icons {
  margin: 0;
  padding: 0;
  color: #ffffff; }

.main-footer__link {
  color: #ddbb44; }
  .main-footer__link:hover {
    color: #ffffff;
    text-decoration: underline; }

@media (max-width: 575px) {
  .main-footer__wrapper {
    flex-direction: column;
    align-items: center; }
  .main-footer__logo-container {
    margin-bottom: 15px; }
  .main-footer__contacts-link {
    color: #ddbb44; }
    .main-footer__contacts-link:hover {
      text-decoration: underline; }
  .socials {
    margin-bottom: 5px; }
  .main-footer__copyright {
    text-align: center; } }

.pagination {
  display: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none; }

.pagination_show {
  display: flex; }

.pagination__item {
  margin-right: 10px; }

.pagination__link {
  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 14px;
  padding-right: 15px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  border: 1px solid #4f5e51;
  border-radius: 3px; }

.pagination__link--next {
  width: auto;
  padding-left: 31px;
  padding-right: 31px; }

.pagination__link:hover {
  border-color: #2d412f; }

.pagination__link:active {
  border-color: #5b805f; }

.pagination__link--active {
  background-color: #354d38;
  color: #ffffff; }

.pagination__link:disabled,
.pagination__link--disabled,
.pagination__link--disabled:hover,
.pagination__link--disabled:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #32425c;
  border: none;
  opacity: 0.3;
  cursor: default; }

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 20px 10px;
  background-color: rgba(53, 77, 56, 0.7);
  list-style: none; }

.breadcrumbs__item {
  position: relative;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  font-kerning: none;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff; }

.breadcrumbs__item:not(:first-child) {
  margin-left: 25px; }

.breadcrumbs__item:not(:first-child)::after {
  content: "";
  position: absolute;
  left: -16px;
  top: 50%;
  width: 8px;
  height: 12px;
  margin-top: -6px;
  background-image: url("../img/icons/svg/right-breadcrumb-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

.breadcrumbs__link {
  color: #ffffff; }

.breadcrumbs__link:hover {
  color: #ddbb44; }

.breadcrumbs__link:active {
  color: #3f5842; }

.breadcrumbs__link:disabled,
.breadcrumbs__link_disabled,
.breadcrumbs__link_disabled:hover,
.breadcrumbs__link_disabled:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #858b85;
  border: none;
  opacity: 0.3;
  cursor: default; }

.breadcrumbs__link--main {
  display: block;
  width: 14px;
  height: 14px; }
  .breadcrumbs__link--main .breadcrumbs__icon {
    fill: #ffffff; }
  .breadcrumbs__link--main:hover .breadcrumbs__icon {
    fill: #ddbb44; }

.for-recruits {
  margin: 0;
  padding: 30px 15px;
  background-color: rgba(107, 123, 109, 0.1); }

.for-recruits__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000; }

.for-recruits__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.for-recruits__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48%;
  min-width: 300px;
  min-height: 250px;
  margin-bottom: 15px;
  background-color: #354d38; }

.for-recruits__card:nth-child(2n) {
  margin-left: 15px; }

.content-card {
  flex-grow: 1;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8); }

.content-card__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  color: #000000; }

.content-card__description {
  color: #000000; }

.content-card__button {
  width: 150px;
  margin-left: auto;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border: none;
  border-top: 1px solid #3f5842;
  border-bottom: 1px solid #2d412f;
  background-color: #354d38;
  background-repeat: no-repeat;
  background-position: 5px center;
  background-size: 35px;
  cursor: pointer; }

@media (max-width: 767px) {
  .for-recruits {
    margin: 0;
    padding: 30px 0; }
  .for-recruits__card {
    width: 100%;
    margin-right: 0; }
  .for-recruits__card:nth-child(n) {
    margin-right: 15px;
    margin-left: 0; }
  .for-recruits__card:nth-child(2n) {
    margin-left: 15px;
    margin-right: 0; }
    .for-recruits__card:nth-child(2n) .content-card__button {
      margin: 0;
      margin-right: auto; } }

.requirements {
  margin: 0;
  padding: 30px 15px;
  background-color: rgba(107, 123, 109, 0.1); }

.requirements__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000; }

.requirements__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.requirements__item {
  margin-bottom: 10px;
  padding: 15px; }

.requirement {
  position: relative;
  margin-left: 75px;
  background-color: #ffffff; }
  .requirement::before {
    content: "";
    position: absolute;
    left: -75px;
    top: 0;
    width: 75px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: left top; }
  .requirement_age::before {
    background-image: url("../img/icons/svg/age.svg"); }
  .requirement_health::before {
    background-image: url("../img/icons/svg/health.svg"); }
  .requirement_education::before {
    background-image: url("../img/icons/svg/education.svg"); }
  .requirement_professional::before {
    background-image: url("../img/icons/svg/professional.svg"); }
  .requirement_suitability::before {
    background-image: url("../img/icons/svg/suitability.svg"); }
  .requirement_sport::before {
    background-image: url("../img/icons/svg/sport.svg"); }

.requirement__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase; }

.underconstruct__title {
  width: 60%;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  color: #ffffff; }

.underconstruct {
  display: flex;
  align-items: center;
  min-height: 500px;
  background-color: rgba(61, 80, 56, 0.49);
  background-image: url(../img/vdv-800_1.png);
  background-repeat: no-repeat;
  background-position: 96% bottom;
  background-size: contain; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.main-content {
  background-color: #ebebeb; }

@media (max-width: 767px) {
  .main-content {
    padding-top: 65px; } }
