@font-face {
  font-family: 'Cuprum-Regular';
  src: url('Cuprum-Regular.ttf') format('truetype'),
       url('Cuprum-Regular.woff') format('woff'),
       url('Cuprum-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

